@font-face {
    font-family: 'DejaVu Sans';
    src: url('/lims_fonts/static/src/fonts/DejaVuSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
.o_report_layout,
table,
td,
th,
span,
div,
p {
  font-family: "DejaVu Sans", sans-serif !important;
}