.btn-primary {
  background-color: $odoo-brand-primary;
  border-color: darken($odoo-brand-primary, 10%);
  font-family: $odoo-font-family;
}

.o_main_navbar {
  background-color: lighten($odoo-brand-primary, 5%);
  color: #fff;

  .o_menu_brand {
    font-family: $odoo-font-family;
    color: #fff;
  }
}
